@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
table td:last-child{
	text-align: right;
	font-variant-numeric: tabular-nums;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}